:root {
    --white: #ffffff;
    --primary: #2F4DBE;
    --primary-600: #140E3B;
    --light-100: #F1F5FB;
    --light-200: #E9F0FB;
    --grey-100: #EDEDED;
    --grey-200: #D4D4D4;
    --grey-300:  #97A4B2;
}