body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #ffffff;
  --primary: #2f4dbe;
  --primary-600: #140e3b;
  --light-100: #f1f5fb;
  --light-200: #e9f0fb;
  --grey-100: #ededed;
  --grey-200: #d4d4d4;
  --grey-300: #97a4b2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
